.StatusBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.StatusItem {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: white 1px solid;
    color: #fff;
}

.underline,
.shortline,
.crossline {
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(58, 239, 227), rgb(58, 239, 227));
    border-radius: 3px;
}

.shortline::after {
    content: '';
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    bottom: 50%;
    width: 14px;
    height: 2px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 3px;
}

.crossline::before,
.crossline::after {
    content: '';
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    bottom: 50%;
    width: 14px;
    height: 2px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 3px;
}

.crossline::before {
    transform: translate(50%, 50%) rotate(90deg);
}

.float-item {
    position: absolute;
    top: 1.625em;
    left: 0;
    /* transform: translate(50%); */
    width: 100%;
    /* height: 100%; */
}